<div class="container">
    <div class="display-6 col-12 col-md-12 col-sm-12 col-lg-12 text-center">
      <span>{{timeInSeconds * 1000 | date:'mm:ss'}}</span>
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center pt-2">
      <button class="btn btn-outline-primary text-success bg-black"
              (click)="play()" [disabled]="isPlaying">
        <i class="fa fa-play"></i>
      </button>
      <button class="btn btn-outline-primary ms-2"
              (click)="pause()">
        <i class="fa fa-pause"></i>
      </button>
      <button class="btn btn-outline-primary ms-2 text-danger  bg-white"
              (click)="stop()">
        <i class="fa fa-stop"></i>
      </button>
      <button class="btn btn-outline-primary ms-2 text-warning bg-white"
              (click)="registerTime()"> 
        <i class="fa fa-stopwatch"></i>
      </button>
    </div>
  </div>